
.night-mode, .night-mode .markdown-body {
  background-color: #101010;
  color: #dedede;
}

.night-mode .markdown-body a {
  color: #0C63C7;
}

.night-mode .markdown-body hr {
  background-color: #333;
}

.night-mode .markdown-body blockquote {
  color: #999;
  border-left-color: #333;
}

.night-mode .markdown-body kbd {
  color: #333d56;
  background-color: #fafbfc;
  border-color: #d1d5da;
  border-bottom-color: #c6cbd1;
  box-shadow-color: #c6cbd1;
}

.night-mode .markdown-body h1 {
  border-bottom-color: #333;
}

.night-mode .markdown-body h2 {
  border-bottom-color: #333;
}

.night-mode .markdown-body h6 {
  color: #999;
}

.night-mode .markdown-body table tr {
  background-color: #101010;
}

.night-mode .markdown-body table, .night-mode .markdown-body th, .night-mode .markdown-body td {
  border-color: #353535;
}

.night-mode .markdown-body table tr:nth-child(2n) {
  background-color: #1e1e1e;
}

.night-mode .markdown-body img {
  background-color: #fff;
}

.night-mode .markdown-body code,
.night-mode .markdown-body pre {
  background-color: #242422;
}
